<article class="flex flex-col border border-sky-700 rounded-xl p-5 bg-stone-100">
  <div class="h-auto">
    <img
      src="https://s3-media.mrbooks.com/mrbooks/portadas/9789501533439.webp"
      alt="Book cover"
      class="w-full h-full object-cover transition-transform duration-300 hover:scale-110"
    />
  </div>
  <div>
    <h3 class="text-sm font-semibold text-gray-800 uppercase leading-5 h-[2-rem] line-clamp-2 mb-4">
      Pequeño cerdo capitalista
    </h3>
    <p class="text-sky-900 uppercase">Pepe Aguilar</p>
    <p class="text-sky-700">$12.50</p>
    <p></p>
    <p class="text-sky-700">En stock</p>
    <button
      class="bg-sky-700 text-sky-50 w-full rounded-xl flex items-center justify-center gap-2 p-1 hover:bg-sky-600 BOLD"
    >
      Comprar
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-6 w-6 font-bold"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
    </button>
  </div>
</article>
