<div class="flex flex-col w-auto h-auto">
  <!-- Encabezado del Carrusel -->
  <div class="flex flex-col w-full justify-between md:flex-row mb-4">
    <h2 class="font-bold text-2xl text-gray-800">{{ title }}</h2>
    <a
      [routerLink]="['/catalogo', categoryId]"
      class="text-sky-700 font-semibold hover:underline cursor-pointer transition-colors"
      >Ver todos</a
    >
  </div>

  <!-- Contenedor scrolleable -->
  <div
    #carousel
    (mouseenter)="stopAutoPlay()"
    (mouseleave)="startAutoPlay()"
    class="flex gap-4 overflow-x-auto snap-x snap-mandatory pb-4 px-2 scrollbar-width:none [&::-webkit-scrollbar]:hidden"
  >
    @for (book of books; track book.id) {
      <div class="snap-start shrink-0 w-[85%] sm:w-[47%] md:w-[31%] lg:w-[23%] xl:w-[15%]">
        <app-book-card [book]="book"></app-book-card>
      </div>
    }
  </div>
</div>
